.removeTask{
  font-size: 27px;
  color: rgba(139, 0, 0, 0.65);
  line-height: 0;
  display: block;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
  &--update{
    color: rgba(0, 139, 123, 0.65);
  }
}
.popover{
  position: relative;
}

.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -31px;
  top: 50px;
  transform: translate(0, 10px);
  font-size: 14px;
  padding: 0 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: 100px;
  background-color: rgba(0, 0 ,0 ,.7);
}
.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent rgba(0, 0 ,0 ,.7) transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.popover:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
  text-align: center;
  color: #ffffff;
}

