<template>
  <div>
     <h1>Hello world!</h1>
  </div>
</template>

<script>

  import Vue from 'vue'
  import { mapActions } from 'vuex'

  export default Vue.extend({
    name: 'index',
    data() {
      return {
        msg: 'Welcome to Your Vue.js App',
      }
    },
    components: {

    },
    mounted() {
      this.getProducts()
    },
    methods: {
      ...mapActions(['GET_PRODUCTS']),
      getProducts(){
        this.GET_PRODUCTS();
      }
    }
  })
</script>


