<template>
  <transition name="fade">
    <div id="myModal" class="modal" ref="modal" v-show="$store.state.modal.open">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close" @click="closeModal">&times;</span>
        <p class="modal-content__text">{{ $store.state.modal.text }}</p>
        <div class="modal-content__buttons">
          <button class="buttons buttons__success" @click="actionModal">{{ $store.state.modal.action }}</button>
          <button class="buttons buttons__cancel" @click="closeModal">Cancel</button>
        </div>
      </div>

    </div>
  </transition>
</template>

<script>

  import Vue from 'vue';
  import {mapActions} from 'vuex'

  export default Vue.extend({
    name: "modal",
    methods: {
      ...mapActions(['CLOSE_MODAL', 'DELETE_POST']),
      closeModal() {
        this.CLOSE_MODAL();
      },
      actionModal(){
        let action = this.$store.state.modal.action;
        if(action === 'Exit'){
          this.$router.push({ name: 'index' })
        }else if(action === 'Delete'){
          this.DELETE_POST();
          if(this.$router.history.current.name !== 'index'){
            this.$router.push({ name: 'index' })
          }
        }
        this.CLOSE_MODAL();
      }
    }
  })
</script>

