<template>
  <div id="app">
    <Modal />
    <Alerts />
    <Index />
  </div>
</template>

<script>

  import Vue from 'vue'
  import Modal from './components/modal'
  import Alerts from "./components/alerts";
  import Index from './pages/Index'

  export default Vue.extend({
    name: 'app',
    components: {
      Modal, Alerts, Index
    },
    methods: {

    }
  })
</script>

<style lang="less">
  @import './assets/style/main.less';
</style>

